<section class="header">
    <div class="container" data-size="full">
        <div class="nav-container">
            <a href="https://aymsia.vercel.app" class="logo">
                <img src="assets/logo-white-dot.png" alt="Logo" class="logo">
            </a>
            <div class="nav-links">
                <a [class.active]="isActive('about')" 
                   href="#about" 
                   (click)="onNavClick('about', $event)">ABOUT</a>
                <a [class.active]="isActive('experiences')" 
                   href="#experiences" 
                   (click)="onNavClick('experiences', $event)">EXPERIENCE</a>
                <a [class.active]="isActive('featured-projects')" 
                   href="#featured-projects" 
                   (click)="onNavClick('featured-projects', $event)">PROJECTS</a>
            </div>

            <!-- <div class="social-icons">
                <a href="http://linkedin.com/in/sherylane-aglubat-9a4554218" target="_blank" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.facebook.com/Aymsia" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/aymsiaaa/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div> -->
        </div>
    </div>
</section>