<section class="footer">
    <div class="container" data-size="full">
        <div class="footer-content">
            <p>&copy; 2024 Sia Aglubat. All rights reserved.</p>
            <div class="social-icons">
                <a href="http://linkedin.com/in/sherylane-aglubat-9a4554218" target="_blank" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.facebook.com/Aymsia" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/aymsiaaa/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</section>