.container {
    padding-block: 1rem;
    position: relative;

    .footer-content {
        text-align: left;

        p {
            margin: 0.5rem 0;
            font-size: 0.8rem;
        }

        a {
            color: var(--text-on-primary);
            text-decoration: underline;
            transition: color var(--transition-normal);

            &:hover {
                color: var(--primary-light);
            }
        }

        .highlight {
            color: var(--text-color);
            font-weight: 500;
            line-height: 1.8;
            text-decoration: none;
            font-size: 0.8rem;
        }

        a.highlight {
            &:hover {
                color: var(--primary-dark)
            }
        }
    }

    .hearts {
        background-color: var(--primary-color);
        padding: 0.5rem 0.5rem 0.1rem 0.5rem;
        border-top-left-radius: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        color: var(--text-white)
    }
}