@import '../../styles/variables';
.container {
    @media (min-width: $breakpoint-tablet) {
        padding-top: 8rem;
    }

    .about-content {
        text-align: left;


        p {
            color: var(--text-secondary);
            line-height: 1.8;
        }

        .buttons {
            display: flex;
            gap: 0.2rem;

            .left-btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .right-btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}