.container {
    background-color: var(--gray-background-light);

    .about-content {
        h2 {
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 1.5rem;
            color: var(--text-secondary);
            line-height: 1.8;
        }
    }
}