<section class="about" id="about">
    <div class="container" data-size="full">
        <div class="about-content">
            <p>Hi, I’m Sia – a results-driven Front-End Developer with 4 years of experience designing, developing, and optimizing responsive web applications for global businesses. I specialize in building interactive dashboards, beautiful user interfaces, and robust web solutions using Angular, AEM, and modern front-end technologies.</p>
            <p>I’m passionate about developing user-focused solutions that solve real-world problems and help businesses grow. With a strong foundation in HTML, CSS, JavaScript, TypeScript, and RESTful APIs, I enjoy collaborating with cross-functional teams and turning complex requirements into scalable, maintainable products.</p>
            <p>Let’s create something exceptional together.</p>
            <div class="buttons">
                <a href="#featured-projects" class="button-primary left-btn">View My Work</a>
                <a href="mailto:sherylane.aglubat@icloud.com" class="button-primary right-btn">Contact Me</a>
            </div>
        </div>
    </div>
</section>