<section class="experiences" id="experiences">
    <div class="container" data-size="full">
        <div class="experiences-content">
            <div class="experiences-list grid">
                <div class="experience-item card">
                    <div class="experience-info">
                        <a class="highlight" href="https://automobility.kinsta.cloud/">
                            <span>WordPress Developer</span>
                            <i class="dot-icon"></i>
                            <span>Automobility</span>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Hands-on experience building custom themes, plugins, and reusable components. Specializes in creating visually appealing and user-friendly websites tailored to client needs. Work includes setting up and customizing WordPress sites, configuring themes and plugins, and making design and content updates. Enjoys helping clients establish their online presence and ensuring websites are easy to manage and maintain.</p>
                        <ul class="experiences-ul">
                            <li>WordPress</li>
                            <li>PHP</li>
                            <li>Twig</li>
                            <li>Custom Post Types & Taxonomies</li>
                        </ul>
                    </div>
                </div>
                <div class="experience-item card">
                    <div class="experience-info">
                        <a class="highlight" href="https://manulifeim.com.ph/">
                            <span>Front End Software Engineer</span>
                            <i class="dot-icon"></i>
                            <span>Manulife IT Deliver Center Asia Inc.</span>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Developed interactive dashboards in Angular with advanced charts and data tables, integrating RESTful APIs for real-time functionality. Built reusable UI components in Angular and AEM, applying best practices for responsive design and efficient development. Styled applications using SCSS and LESS for scalable front-end systems, conducted code reviews, and collaborated with cross-functional teams to deliver robust technical solutions.</p>
                        <ul class="experiences-ul">
                            <li>Adobe Experience Manager</li>
                            <li>Angular</li>
                            <li>RESTful APIs</li>
                            <li>Highcharts</li>
                            <li>SCSS/LESS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
