<section class="banner">
    <div class="banner-container">
        <div class="banner-content">
            <div class="left-content">
                <img 
                    class="banner-illustration"
                    src="assets/svg/undraw_remote-worker_0l91.svg" alt="Remote Worker Illustration">
            </div>
            <div class="right-content">
                <h1 class="bagel-fat-one-regular">Hi, I'm Sia</h1>
                <p>Front-End Developer</p>
                
                <div class="social-icons">
                    <a href="mailto:she.aglubat@gmail.com" target="_blank" aria-label="Email">
                        <i class="fa-solid fa-square-envelope"></i>
                    </a>
                    <a href="http://linkedin.com/in/sherylane-aglubat-9a4554218" target="_blank" aria-label="LinkedIn">
                        <i class="fa-brands fa-square-linkedin"></i>
                    </a>
                    <a href="https://github.com/Inesiaaa/sia" target="_blank" aria-label="GitHub">
                        <i class="fa-brands fa-square-github"></i>
                    </a>
                    <a href="https://www.facebook.com/Aymsia" target="_blank" aria-label="Facebook">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/aymsiaaa/" target="_blank" aria-label="Instagram">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>