@import '../../styles/variables';

.banner-container {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-inline: auto;
    padding: 2rem 3rem;

    @media (max-width: $breakpoint-tablet) {
        padding: 0;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        padding-top: 3rem;
        justify-content: center;

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            padding-block-start: 7rem;
            padding-block-end: 3rem;
        }

        .left-content {
            flex: 1;
            display: flex;

            .banner-illustration {
                max-width: auto;
                height: 200px;
                transform: scaleX(-1);
            }
        }

        .right-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            
            h1 {
                font-weight: 200;
                margin-block-end: 0;
                text-transform: uppercase;
            }

            p {
                color: var(--text-secondary);
                margin-block-end: 0;
            }

            .social-icons {
                display: flex;

                a {
                    color: var(--primary-color);
                    font-size: 1.8rem;
                    transition: color var(--transition-normal);

                    &:hover {
                        color: var(--primary-color);
                        transform: translateY(-2px);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            @media (max-width: $breakpoint-tablet) {
                text-align: center;
                align-items: center;
            }
        }
    }
}