<section class="banner">
    <div class="container" data-size="full">
        <div class="banner-content">
            <div class="left-content">
                <img 
                    class="banner-illustration"
                    src="assets/svg/undraw_remote-worker_0l91.svg" alt="Remote Worker Illustration">
            </div>
            <div class="right-content">
                <h1 class="bagel-fat-one-regular">Hi, I'm Sia</h1>
                <p>A UI/UX-Focused Front-End Freelancer.</p>
                <a href="#featured-projects" class="button-primary">View My Work</a>
            </div>
        </div>
    </div>
</section>