<section id="main-content" class="main-content">
  <div class="left-content">
    <app-banner></app-banner>
  </div>
  <div class="right-content">
    <app-header></app-header>
    <section id="about">
      <app-about></app-about>
    </section>
    <section id="experiences">
      <app-experiences></app-experiences>
    </section>
    <section id="featured-projects">
      <app-featured-projects></app-featured-projects>
    </section>
    <app-footer></app-footer>
  </div>  
</section>
<!-- <section id="home">
  <app-banner></app-banner>
</section> -->