<section class="featured-projects" id="featured-projects">
    <div class="container">
        <div class="featured-projects-content">
            <p>Here are some of my recent projects that showcase my skills in front-end development and UI/UX design. Each project is a testament to my commitment to creating visually appealing and user-friendly digital experiences.</p>
            <div class="projects-grid">
                <div class="project-card">
                    <img src="assets/projects/manulifeim.com.my.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://www.manulifeim.com.my/funds/fund-details.fid-MAGF.html/details#performance" class="highlight">Manulife IM Malaysia - Fund Details Dashboard</a>
                        <p>As part of the front-end team for Manulife Investment Management Malaysia Fund Details Dashboard, I implemented interactive charts and responsive data tables, integrated RESTful APIs, and contributed to UI consistency across the platform.</p>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/maquinit.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://maquinithotsprings.com/" class="highlight">Maquinit Hot Springs</a>
                        <p>Built and launched the official Maquinit Hot Springs website using WordPress, featuring a custom design, easy navigation, gallery, and contact form. The site is mobile-friendly and simple for the client to update, effectively showcasing the resort’s attractions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>