<section class="featured-projects" id="featured-projects">
    <div class="container">
        <div class="featured-projects-content">
            <p>Explore a selection of my featured projects, showcasing a range of web development skills—from custom WordPress sites and responsive front-end interfaces to data-driven dashboards and academic systems. Each project highlights my commitment to creating engaging, user-focused solutions tailored to diverse client needs and technical requirements.</p>
            <div class="projects-grid">
                <div class="project-card">
                    <img src="assets/projects/automobility.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://automobility.kinsta.cloud/" class="highlight">
                            Automobility
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Developed a professional website for Automobility using WordPress, featuring a custom layout, clear navigation, and dynamic content sections. The site highlights the company’s services and expertise with responsive design, easy content management, and visually engaging elements tailored to the brand’s identity.</p>
                        <ul class="project-info-ul">
                            <li>WordPress</li>
                            <li>PHP</li>
                            <li>Twig</li>
                            <li>Custom Post Types & Taxonomies</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/jp-fund-listing-page.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://www.manulifeim.co.jp/funds.html/list" class="highlight">
                            Manulife Investments Funds Listing Page
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>As a Front-End Software Engineer at <a class="highlight inline" href="https://www.linkedin.com/company/manulife-it-delivery-asia-center-inc/">MITDC</a>, I helped build the Funds Listing Page by creating a responsive fund table, implementing sorting and searching features, enabling users to pin funds to a watchlist, and designing group accordions for organized browsing. These improvements enhanced usability and empowered users to manage and explore investment funds more effectively.</p>
                        <ul class="project-info-ul">
                            <li>AEM</li>
                            <li>Angular</li>
                            <li>RESTful APIs</li>
                            <li>SCSS/LESS</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/my-fund-details-page.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://www.manulifeim.com.my/funds/fund-details.fid-MAGF.html/details#performance" class="highlight">
                            Manulife Investments Fund Details Page
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>As a Front-End Software Engineer at <a class="highlight inline" href="https://www.linkedin.com/company/manulife-it-delivery-asia-center-inc/">MITDC</a>, I improved data visualization and user experience by integrating interactive Highcharts, creating custom tooltips for clearer insights, and building a tabbed interface for easy navigation of fund information. These enhancements made fund data more accessible and user-friendly.</p>
                        <ul class="project-info-ul">
                            <li>AEM</li>
                            <li>Angular</li>
                            <li>RESTful APIs</li>
                            <li>Highcharts</li>
                            <li>SCSS/LESS</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/my-compare-funds-page.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://www.manulifeim.com.my/funds/compare-funds.html/compare#MAGF" class="highlight">
                            Manulife Investments Compare Funds Page
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>As a Front-End Software Engineer at <a class="highlight inline" href="https://www.linkedin.com/company/manulife-it-delivery-asia-center-inc/">MITDC</a>, I developed interactive components—including a dropdown for selecting up to 6 funds, dynamic fund cards, comparative charts with custom tooltips, a date range picker, and a detailed comparison table—to help users easily analyze and compare investment funds for informed decision-making.</p>
                        <ul class="project-info-ul">
                            <li>AEM</li>
                            <li>Angular</li>
                            <li>RESTful APIs</li>
                            <li>Highcharts</li>
                            <li>SCSS/LESS</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/maquinit.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://maquinithotsprings.com/" class="highlight">
                            Maquinit Hot Springs
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Built and launched the official Maquinit Hot Springs website using WordPress, featuring a custom design, easy navigation, gallery, and contact form. The site is mobile-friendly and simple for the client to update, effectively showcasing the resort’s attractions.</p>
                        <ul class="project-info-ul">
                            <li>WordPress</li>
                            <li>Elementor</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/april-son-photography.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://aprilsonphotography.com/" class="highlight">
                            April Son Photography
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Updated and maintained April Son Photography website by fixing and customizing the navigation links to iprove site usability and ensure a smooth browsing experience.</p>
                        <ul class="project-info-ul">
                            <li>Adobe Portfolio</li>
                            <li>HTML/CSS</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <video class="project-image" src="assets/projects/faculty-profiling.mp4" controls poster="assets/projects/faculty-profiling-thumbnail.png"></video>
                    <div class="project-info">
                        <p class="highlight">
                            Faculty Profiling System (University Project)
                        </p>
                        <p>I developed a Faculty Profiling Website as a university project. The platform features secure login, faculty record management, transaction handling, report generation (dashboard, PDF, Word, Excel), audit trail, a user-friendly interface, database backup and recovery, and file upload capabilities, streamlining faculty data management and reporting for academic institutions.</p>
                        <ul class="project-info-ul">
                            <li>HTML/CSS</li>
                            <li>JavaScript</li>
                            <li>PHP</li>
                            <li>MySQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>