<section class="featured-projects" id="featured-projects">
    <div class="container">
        <div class="featured-projects-content">
            <p>Here are some of my recent projects that showcase my skills in front-end development and UI/UX design. Each project is a testament to my commitment to creating visually appealing and user-friendly digital experiences.</p>
            <div class="projects-grid">
                <div class="project-card">
                    <img src="assets/projects/automobility.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://automobility.kinsta.cloud/" class="highlight">
                            Automobility
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Developed a professional website for Automobility using WordPress, featuring a custom layout, clear navigation, and dynamic content sections. The site highlights the company’s services and expertise with responsive design, easy content management, and visually engaging elements tailored to the brand’s identity.</p>
                        <ul class="project-info-ul">
                            <li>WordPress</li>
                            <li>PHP</li>
                            <li>Twig</li>
                            <li>Custom Post Types & Taxonomies</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/manulifeim.com.my.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://www.manulifeim.com.my/funds/fund-details.fid-MAGF.html/details#performance" class="highlight">
                            Manulife IM Malaysia - Fund Details Dashboard
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>As part of the front-end team for Manulife Investment Management Malaysia Fund Details Dashboard, I implemented interactive charts and responsive data tables, integrated RESTful APIs, and contributed to UI consistency across the platform.</p>
                        <ul class="project-info-ul">
                            <li>AEM</li>
                            <li>Angular</li>
                            <li>RESTful APIs</li>
                            <li>Highcharts</li>
                            <li>SCSS/LESS</li>
                        </ul>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/projects/maquinit.png" alt="Project 1" class="project-image">
                    <div class="project-info">
                        <a href="https://maquinithotsprings.com/" class="highlight">
                            Maquinit Hot Springs
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                        <p>Built and launched the official Maquinit Hot Springs website using WordPress, featuring a custom design, easy navigation, gallery, and contact form. The site is mobile-friendly and simple for the client to update, effectively showcasing the resort’s attractions.</p>
                        <ul class="project-info-ul">
                            <li>WordPress</li>
                            <li>Elementor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>