@import '../../styles/variables';

.container {

    .projects-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        @media (max-width: $breakpoint-mobile-horizontal-1) {
            flex-direction: column;
        }

        .project-image {
            flex: 0.8;
            width: 30px; 
            height: auto;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
            transition: transform var(--transition-normal), box-shadow var(--transition-normal);
            object-fit: contain; 
            align-self: flex-start;

            &:hover {
            transform: translateY(-5px);
            box-shadow: var(--box-shadow-hover);
            }

            @media (max-width: $breakpoint-mobile-horizontal-1) {
                width: 100%;
                height: auto;
                align-self: center;
            }
        }

        .project-info {
            flex: 2;
            display: flex;
            flex-direction: column;

            ul.project-info-ul {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem; 
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: 12px;
                    font-weight: 800;
                    background-color: var(--background-secondary);
                    color: var(--primary-dark);
                    margin-bottom: 0;
                    padding: 0.3rem 1rem 0.2rem 1rem;
                    border-radius: 50px;
                }
            }

            a.highlight {
                align-items: center;
                line-height: 24px;

                &:hover {
                color: var(--primary-dark);

                    .fa-arrow-up-right-from-square {
                        transform: translate(2px, -2px);
                        transition: all 0.2s ease-in-out;
                    }
                }

                .fa-solid {
                    font-size: 12px;
                    align-items: middle;
                }
            }

            p.highlight {
                margin-bottom: 0;
            }

            .inline {
                font-size: 16px;
            }
        }
    }
}